body {
	background-color:white;
	text-align: center;
	font-size: 20px;
}

form {
	text-align: center;
}

.body{
	margin: 25px 50px 25px;
}

h1 {
	margin: 0 0 10px;
	font-size: 30px;
	font-weight: bold;
	color:#fab600;
	text-align: center;
        position: relative;
        top: 30%;
}

h2 {
	margin: 0 0 10px;
	font-size: 24px;
	font-weight: bold;
	color:#102645;
}


header {
	color: white;
	position: relative;
	height: 120px;
	background-color: #102645;
}

.instructions{
	text-align: left;
	background-color: white;
	margin: 25px 100px 25px;
	font-size: 20px;
}

.text{
	height: 140px;
}


.likert {
  list-style:none;
  width:80%;
  margin-left: 10%;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}

.likert li {
  display:inline-block;
  width:15%;
  text-align:center;
  vertical-align: center;
}

.likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:44%;
}

.likert:last-of-type {border-bottom:0;}
.likert:before {
  content: '';
  position:relative;
  top:11px;
  left:19%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:62%;
}

.button {
  background-color: #102645;
  color: #fab600;
  border: 2px solid #102645;
  border-radius: 8%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 40px;
  transition-duration: 0.5s;
}

.button:hover{
  background-color: white;
  color: #102645;
}


.rates{
  word-wrap: break-word;
}


.progress-bar-back{
  height: 24px;
  background-color: #D8D8D8;
  width: 100%;
}

.progress-bar-front{
  height: 24px;
  background-color: #fab600;
  width: 0 %;
}




